body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 7vh;
    width: 83vw;
    display: flex;
    align-items: center;
    margin-right: 0vw;
    justify-content: space-between;
    border-radius: 0px 0px 10px 0px;
    margin-left: 15.5vw;
}

.dashboard-lists{
    height: 7vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    gap: 4vw;
    align-items: center;
    align-content: center;
}
i{
    align-self: center;
    padding-right: 1vw;
}
.calendar,.todo-list,.notifications,.emails,.Budget-Tracker,.notes,.user,.dashboard-icon{
    display:flex;
    flex-direction: row;
    width: 2vw;
    align-items: flex-end;
}
.side-bar-calendar,.side-bar-todo-list,.side-bar-notifications,.side-bar-emails,.side-bar-Budget-Tracker,.side-bar-notes,.side-bar-dashboard{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 18vw;
}
.dashboard-item h2{
    margin-top: 0px;
    padding-top: 0px;
}
header h2 {
    margin: 0;
    padding-left: 10vw;
}
.user{
    font-size:xx-large;
}
.notifications{
    margin-left: 4vw;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
}

.dashboard-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1vw;
    padding: 1vw;
    display: flex;
    width: 15vw;
    height: 15vw;

    flex-direction: row;
}

.dashboard{
    padding: 1vw;
    width: 75vw;
    height: 75vh;
    background-color: #c4c4c4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2vw;

}
.section-1{
    width: 75vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section-2{
    width: 75vw;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img-calendar,.img-todo-list,.img-emails,.img-notifications,.img-budget-tracker,.img-class{
    width: 12vw;
}
.calendar-widget,.todo-list,.emails,.notifications,.budget-tracker,.notes{
    width: 20vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notifications{
    margin-left: 10px;
}
.side-bar{
    width: 20vw;
    height: 94.2vh;
    background-color: #c6c5c5;
    z-index: 45;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.side-bar-items{
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.90;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10%;

}

.logo{
    width: 13vw;
    height: 20vh;
    border-radius: 10px;
    margin: 40px;
    margin-top: 30px;
}

.dashboard-item h2 {
    border-bottom: 1px solid #ccc;
}
h4{
    font-weight: bold;
    color: #000000;
}
footer {
    background-color: #000000;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin: 0%;
}

footer p {
    margin: 0%;
}
